<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>ISBN List</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @@list.each_with_index do |l, i| %>
          <% if i == 0 %>
            <div class="carousel-item active text-center" style="background-color:#777;height:821px;">
              <a href="#<%= i %>"><image class="w-50 h-100" src="<%= l.cover %>" ></a>
            </div>
          <% else %>
            <div class="carousel-item text-center" style="background-color:#777;height:821px;">
              <a href="#<%= i %>"><image class="w-50 h-100" src="<%= l.cover %>" ></a>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <section id="intro" class="text-center" style="min-height:20vh;">
      <h2>Click on an image to see the book's info!</h2>
    </section>

    <% @@list.each_with_index do |f, i| %>
      <section id="<%= i %>" style="min-height:40%;margin-top:10%;">
        <div class="row">
          <div class="col-md-4">
            <img src="<%= f.cover %>" class="img-responsive img-rounded" alt="" style="max-width:90%;">
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12 text-center"><h3><%= f.title %></h3></div>
              <div class="col-md-12 text-center" style="margin-bottom:5%;"><h4>By: <%= f.author %></h4></div>
              <div class="col-md-12" style="margin-bottom:3%;"><strong><em>ISBN:</em></strong> <%= f.isbn %></div>
              <div class="col-md-12"><strong><em>Excerpt:</em></strong> <%= f.excerpt %></div>
            </div>
          </div>
        </div>
      </section>
    <% end %>
    <section>
      <h1>These do not exist</h1>
    <% @@dne.each do |f| %>
      <p><%= f %></p>
    <% end %>
    </section>
  </div>
</body>

</html>
